/* BAH Mamadou */
:root {
    --bg-color: #081b29;
    --border-color: #fff;
    --title-size: 1.4em;
    --color: #0ef;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color);
}

#toggle-btn.icon, #toggle-btn-register.icon  {
  cursor: pointer;
}



.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border: none;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.wrapper {
  position: relative;
  width: 350px;
  height: 520px;
  background: transparent;
  border: 2px solid var(--border-color);
  border-radius: 50px 0px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper .form-box.login {
  transform: translateX(0);
  transition: transform .6s ease;
  transition-delay: .7s
}

.wrapper.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.wrapper .form-box.register {
  transform: translateX(430px);
  transition: transform .6s ease;
  transition-delay: 0s;
}

.wrapper.active .form-box.register {
  transform: translateX(0);
  transition-delay: .7s
}

.wrapper .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  color: #162938;
  padding: 0px;
}

.form-box.login, .form-box.register {
  position: absolute;
}

.form-box.login h2 {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  font-size: 1.5em;
  color: #162938;
  font-weight: 600;
  text-align: center;
}

.form-box.register h2 {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3%;
  font-size: 1.5em;
  color: #162938;
  font-weight: 600;
  text-align: center;
}

.register .choose-profile input {
  display: none;
}

.register .choose-profile {
  position: relative;
  padding: 10px;
  margin: 5px;
}
.register .choose-profile .icon-img {
  position: absolute;
  left: 2%;
  top: -10%;
  cursor: pointer;
}

.register .choose-profile .img-choosed {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -13px;
  right: 15%;
  border-radius: 50%;
  display: none;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}


.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color:#162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 2px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  font-size: .8em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background: #fff;
  color: #162938;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 5px 0 0px;
}

.login-register p, a {
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.text-reset-password {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  font-size: .7em;
  color: #162938;
  font-weight: 600;
  text-align: center;
}